.footer {
    margin-bottom: 0;
    box-sizing: border-box;
    padding: 10px;
    background-color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.instagram-icon, .facebook-icon, .up-arrow {
    width: 35px;
    border-radius: 20px;
    background-color: #6b03b6;
}

.instagram-icon:hover, .facebook-icon:hover, .up-arrow:hover {
    cursor: pointer;
    background-color: #9f2ef0;
    /* outline: 1px solid #7b0ec9; */
    ;
}

.facebook-icon {
    margin-bottom: 2px;
    width: 32px;
}

.up-arrow {
    transform: rotate(-90deg);
    position: absolute;
    right: 5%;
    bottom: 30%;
}

@media (max-width: 400px) {
    .footer {
        flex-direction: column-reverse;
    }
}